
$HPduoW : 300px; 
$HPduoH : 300px;
$marginN : 0 auto;
$backgroundBody: #000;
$backgroundMain: #000;

.body{
    background-color: $backgroundMain;
    font-family: 'sf-pro';
    color: white;
    
}

main{
  padding-top: 50px;
}

.HPnColor{
    width: 960px;
    margin: $marginN;
    background: $backgroundMain;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    border-bottom: solid 1px white;
}

div.HPwhite{
    margin: $marginN;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HP img{
    width: $HPduoW;
    height: $HPduoH;
     
}
div.HP{
    width: 480px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: $marginN;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: $backgroundMain;
}
label{
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}
div.HPblack{
    margin: $marginN;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio{
    left: 100px;
}
.input{
    width: 30%;
    margin: $marginN;
    border: solid 0.5px white;
    padding: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Container2{
    margin: $marginN;
    width: 960px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: row;
}
.prix{
    padding-top: 10px;
    font-size: 40px;
    margin-left: 70px;
}
.buttonStd{
    text-decoration: none;
    color: #0070c9;
    background-color: transparent;
    border-style: none;
    margin-left:125px;
    font-size: 17px;
}
.AppleCare{
    padding-left: 130px;
    width: 300px;
}
.taxe{
    color: #aaa;
    width: 250px;
    margin-top: 10px;
}
.add-to-cart{
    color: #fff;
    background: #0070c9;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px; 
    border-radius:5px; 
    border-style: none;
    margin-top: 15px;
    cursor: pointer;
}
.RetraitnLivraison{
    padding-top: 25px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonStd2{
    text-decoration: none;
    color: #0070c9;
    background-color: transparent;
    border-style: none;
    font-size: 17px;
    margin-left: -6px; 
    cursor: pointer;
}
a.chat{
    text-decoration: none;
    color: #3ddeff;
}
//-----------------------------------------------------------------------------
$arrowtop: 180%;
$arrowposition: absolute;
$arrowbackground: transparent;
$arrowcolor:white;
$arrowpadding: 5px;


.slider{
    position:relative;
    padding-top:100px;
    width:960px;
    height: 480px;
    overflow: hidden;
    margin: 0 auto;

  }
  
  .sliderContainer{
    width: 960px;  
    position:absolute;
    display: flex;
    transition:ease-in 0.5s all;
    will-change:left;
    align-items: center;
  }
  
  .sliderContainer img{
    margin:0px 10px;
    width: 960px;
    height: 100%;
  }
  
  .arrowLeft{
    position: $arrowposition;
    top: $arrowtop;
    left:20px;
    background: $arrowbackground;
    color: $arrowcolor;
    padding: $arrowpadding;
    border-style: none;
    font-size: 25px;
    border: solid 0.5px white;
    border-radius: 50px;
    padding: 10px 17px 10px 17px;
    cursor: pointer;

  }
  .arrowRight{
    position: $arrowposition;
    top: $arrowtop;
    right: 20px;
    background: $arrowbackground;
    color: $arrowcolor;
    padding: $arrowpadding;
    border-style: none;
    font-size: 25px;
    border: solid 0.5px white;
    border-radius: 50px;
    padding: 10px 17px 10px 17px;
    cursor: pointer;
  }

  // -----------------------------------------------------------------------------

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .HPnColor{
      width: 768px;
    }
    div.HPwhite{
      width: 384px;
    }
    div.HP{
      width: 384px;
    }
    div.HPblack{
      width: 384px;
    }
    label{
      font-size: 15px;
    }
    .Container2{
      width: 768px;
    }
  }

  @media screen and (min-width: 980px) and (max-width: 1128px){
    .slider{
      width: 768px;
      display: flex;
      justify-content: center;
    }
    .sliderContainer{
      width: 768px;
    }
    .sliderContainer img{
      width: 768px;
      margin: 0px 212px 0px 0px;
    }
    .arrowLeft{
      left: 20px;
      top: 175%;
    }
    .arrowRight{
      right: 20px;
      top: 175%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 979px){
    .slider{
      width: 600px;
      display: flex;
      justify-content: center;
    }
    .sliderContainer{
      width: 600px;
    }
    .sliderContainer img{
      width: 600px;
      margin: 0px 380px 0px 0px;
      
    }
    .arrowLeft{
      left: 20px;
      top: 170%;
    }
    .arrowRight{
      right: 20px;
      top: 170%;
    }

  }
  
  

  @media screen and (min-width: 480px) and (max-width: 767px){
    .HPnColor{
      width: 480px;
      flex-direction: column;
      justify-content: center;
    }
    div.HPwhite{
      width: 240px;
    }
    div.HP{
      width: 240px;
    }
    div.HPblack{
      width: 240px;
    }
    .input{
      width: 70%;
    }
    label{
      font-size: 29px;
    }
    .Container2{
      width: 480px;
      flex-direction: column;
      align-items: flex-start;
      font-size: 25px;
    }
    .prix{
      font-size: 70px;
    }
    .slider{
      width: 480px;
      height: 240px;
      display: flex;
      justify-content: center;
    }
    .sliderContainer{
      width: 480px;
    }
    .sliderContainer img{
      width: 480px;
      margin: 0px 500px 0px 0px;
      
    }
    .arrowLeft{
      left: 20px;
      top: 297%;
    }
    .arrowRight{
      right: 20px;
      top: 297%;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 479px){
    .HPnColor{
      width: 300px;
      flex-direction: column;
      justify-content: center;
    }
    div.HPwhite{
      width: 150px;
    }
    div.HP{
      width: 150px;
    }
    div.HPblack{
      width: 150px;
    }
    .input{
      width: 70%;
    }
    label{
      font-size: 15px;
    }
    .Container2{
      width: 300px;
      flex-direction: column;
      align-items: flex-start;
      font-size: 15px;
    }
    .prix{
      margin: 0 auto;
      font-size: 70px;
    }
    .AppleCare{
      padding: 0px;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 650px){
    .slider{
      width: 300px;
      height: 200px;
      display: flex;
      justify-content: center;
    }
    .sliderContainer{
      width: 300px;
    }
    .sliderContainer img{
      width: 300px;
      margin: 0px 680px 0px 0px;
    }
    

  }
  @media screen and (min-width: 480px) and (max-width: 650px){
    .arrowLeft{
      top: 291%;
      left: 25px
    }
    .arrowRight{
      top: 291%;
      right: 25px;
    }

  }
  @media screen and (min-width: 300px) and (max-width: 479px){
    .arrowLeft{
      top: 235%;
      left: 25px
    }
    .arrowRight{
      top: 235%;
      right: 25px;
    }

  }
  