#header {
    background: linear-gradient(50deg,  #BD3994,#4B99FD);
    margin: 0 auto;
    display: flex;
    .container_flex {
      width: 800px;
      margin: 0 auto;
      display: flex;
      padding: 5px 0px;
      justify-content: flex-end;
  }
    .menu {
      display: flex;  
      justify-content: flex-end;
      margin: 0 auto;
      position: left;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
  
  
    .logo {
      color:#FFF;
      margin-left:10px;
      font-size:18px;
      font-weight:400;
      text-decoration:none;
      padding-top: 10px;
      font-size: 20px;
      line-height: 1;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
  
    nav{
      flex-direction: row-reverse;
      justify-content: flex-start;
      margin: 0px 0px 20px 0px;
    }
  
    nav a {
      color: white;
      font-size: 10px;
      text-decoration: none;
      display: inline-block;
      padding: 5px 10px 0px 10px;
    }
  
    nav a.current {
      color: #ddd;
    }
  
    nav ul {
      position: relative;
    }
  
    li {
      list-style: none;
    }
  
    .button{
      border: 3px solid #BD3994;
      border-radius: 20%;
      background: linear-gradient(20deg, #BD3994, #4B99FD)
    }
  
  
  }
$HPduoW : 300px; 
$HPduoH : 300px;
$marginN : 0 auto;
$backgroundBody: #222;
$backgroundMain: #111;

body{
    background-color: $backgroundMain;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    
}

.HPnColor{
    width: 960px;
    margin: $marginN;
    background: $backgroundMain;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    border-bottom: solid 1px white;
}

div.HPwhite{
    margin: $marginN;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HP img{
    width: $HPduoW;
    height: $HPduoH;
     
}
div.HP{
    width: 480px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: $marginN;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: $backgroundMain;
}
label{
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}
div.HPblack{
    margin: $marginN;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio{
    left: 100px;
}
.input{
    width: 30%;
    margin: $marginN;
    border: solid 0.5px white;
    padding: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Container2{
    margin: $marginN;
    width: 960px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: row;
}
.prix{
    padding-top: 10px;
    font-size: 40px;
    margin-left: 70px;
}
.buttonStd{
    text-decoration: none;
    color: #0070c9;
    background-color: transparent;
    border-style: none;
    margin-left:125px;
    font-size: 17px;
}
.AppleCare{
    padding-left: 130px;
    width: 300px;
}
.taxe{
    color: #aaa;
    width: 250px;
    margin-top: 10px;
}
.add-to-cart{
    color: #fff;
    background: #0070c9;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px; 
    border-radius:5px; 
    border-style: none;
    margin-top: 15px;
    cursor: pointer;
}
.RetraitnLivraison{
    padding-top: 25px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonStd2{
    text-decoration: none;
    color: #0070c9;
    background-color: transparent;
    border-style: none;
    font-size: 17px;
    margin-left: -6px; 
    cursor: pointer;
}
a.chat{
    text-decoration: none;
    color: #3ddeff;
}
//-----------------------------------------------------------------------------
$arrowtop: 175%;
$arrowposition: absolute;
$arrowbackground: transparent;
$arrowcolor:white;
$arrowpadding: 5px;

.slider{
    position:relative;
    margin:20px 0;
    width:960px;
    height: 480px;
    overflow: hidden;
    margin-left:  270px;

  }
  
  .sliderContainer{
    width: 960px;  
    position:absolute;
    display: flex;
    transition:ease-in 0.5s all;
    will-change:left;
    align-items: center;
  }
  
  .sliderContainer img{
    margin:0px 10px;
    width: 960px;
    height: 100%;
  }
  
  .arrowLeft{
    position: $arrowposition;
    top: $arrowtop;
    left:20px;
    background: $arrowbackground;
    color: $arrowcolor;
    padding: $arrowpadding;
    border-style: none;
    font-size: 25px;
    border: solid 0.5px white;
    border-radius: 50px;
    padding: 10px 17px 10px 17px;
    cursor: pointer;

  }
  .arrowRight{
    position: $arrowposition;
    top: $arrowtop;
    right: 20px;
    background: $arrowbackground;
    color: $arrowcolor;
    padding: $arrowpadding;
    border-style: none;
    font-size: 25px;
    border: solid 0.5px white;
    border-radius: 50px;
    padding: 10px 17px 10px 17px;
    cursor: pointer;
  }
  