
#pres1{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    width: 800px;
    text-align: center;
    p{
      text-align: left;
      font-size: 2.5vw;
      font-weight: 700;
      line-height: 1.2em;
    }
    .line {
       margin: 0 auto;
       font-size: 180%;
       text-align: center;
       white-space: nowrap;
       overflow: hidden;transform: translateY(-50%);
        color: transparent;
        background-size: 51% 100%;
        background-position: top left, top right;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.3vw;
        font-family: 'sf-pro';
        line-height: 1.48164;
        font-weight: 700;
        background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px),linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
     }
    .anim-typewriter {
      animation: typewriter 1500ms steps(80) 0s 1 normal both;
    }
    #presVideo{
      padding-top: 40px;
      height: calc(100vh - 70px);
    }
  }
}



@keyframes typewriter {
  from {
    height: 0;
  }
  to {
    height: 80px;
  }
}



@keyframes flashSiri {
  0% {
    opacity:0.3;
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:0.3;
  }
}

#pres2{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img-siri{
      position: relative;
      background-image: url('../media/homepod_top_medium_2x copie.jpg');
      margin-top: 50px;
      height: 70vh;
      background-size: 60vh;
      width: 50vw;
      min-width: 375px;
      background-position: center;
      background-repeat: no-repeat;
      .img-siri-active{
        position: absolute;
        background-image: url(../media/siri_fallback_large.png);
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        animation: flashSiri 3500ms steps(100) infinite;
      }
    }
    .text-siri{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      width: 47vw;
      margin-top: 50px;
      position: relative;
      min-width: 375px;
      a{
        position: absolute;
        color: #fff;
        bottom: 0px;
        font-family: 'sf-pro';
        border: 2px solid #fff;
        border-radius:46px;
        padding: 20px;
        text-decoration: none;
        transition: background-color 1s;
      }
      a:hover{
        background-color: #fff;
        color: #000;
        font-weight: 700;
      }
      .text-siri-content{
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        li{
          transition: opacity 1s;
          position: absolute;
          text-align: center;
          opacity: 0;
          p{
            margin:0;
            color: transparent;
            background-size: 51% 100%;
            background-position: top left, top right;
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 6px;
            font-size: 30px;
            font-family: 'sf-pro';
            line-height: 1.48164;
            font-weight: 700;
            background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px),linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
          }
        }
      }
      .text-siri-point{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 20%;
      }
      .point{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-right: 35px;
        background-color: #f0357c;

      }
      ul{
        padding: 0;
        li{
          width: 100%;
          margin: 0 auto;

        }
      }
    }
  }
}

#pres3{
  display: block;
  justify-content: center;
  margin-top: 10%;
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .content_album{
      width: 100vw;
      display: flex;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
      .col{
        width: 22%;
        min-width: 130px;
        margin: 0 10px;
      }
      .pochette-grand{
        height: 15vw;
        width: 15vw;
        margin: 2px 0px;
        min-width: 100px;
        min-height: 100px;
      }

      .row1{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .row2{
        display: flex;
        justify-content: center;
        align-items: center;
        .pochette-petit{
          height: 8vw;
          width: 7.5vw;
          margin: 2px 2px;
          min-width: 50px;
          min-height: 50px;
        }
      }
    }
    .content-homePod{
      position: absolute;
      width: 50vw;
      img{
        width: 50vw;
      }
    }
  }
}

#pres4{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 5%;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    #demoVideo{
      width: 80vw;
      border-radius:20px;
    }
  }
}

#pres5{
  background-color: #fff;
  .active{
    opacity: 0.9!important;
  }
  .container-HomePod{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    .text-techHomePod{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 50%;
      min-width: 300px;
      div{
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        text-align: center;
        padding: 25px;
        opacity: 0;
        transition: opacity 1s;
        background: #000;
        border-radius: 20px;
        p{
          line-height: 22px;
        }
      }
    }
    .view-techHomePod{
      height: 100vh;
      width: 50%;
      position: relative;
      min-width: 300px;
      .figure{
        height: 90%;
        .figure-home{
          position: absolute;
          height: 95%;
          width: 100%;
          background-size: 75%;
          background-repeat: no-repeat;
          background-position:center;
          margin: 0;
          opacity: 0;
          transition: opacity 2s;
        }
        #home1{
          background-image: url("../media/homePod/guts_1_medium_2x.jpg");
        }
        #home2{
          background-image: url("../media/homePod/guts_2_medium_2x.jpg");
        }
        #home3{
          background-image: url("../media/homePod/guts_3_medium_2x.jpg");
        }
        #home4{
          background-image: url("../media/homePod/guts_4_medium_2x.jpg");
        }
        #home5{
          background-image: url("../media/homePod/homepod_side_medium_2x.jpg");
        }
      }
      .pagination-figure{
        display: flex;
        justify-content: center;
        height: 10%;
        ul{
          list-style: none;
          display: flex;
          width: 50%;
          justify-content: space-around;
          padding: 0;
          .point{
            height: 15px;
            width: 15px;
            background-color: #000;
            opacity: 0.5;
            border-radius:50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}


.pres-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 5%;
  h2 {
    text-align: center;
    font-size: 3vw;
    color: transparent;
    background-size: 51% 100%;
    background-position: top left, top right;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 6px;
    font-family: 'sf-pro';
    line-height: 1.48164;
    font-weight: 700;
    background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px), linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);

  }
  p {
    font-size: 2.5vw;
    line-height: 3vw;
  }
}
@media all and (max-width: 900px) and (min-width: 760px) {
    #pres1{
      div{
        width:750px;
      }
    }
  #pres2{
    .pres-text{
      width:750px;
    }
    .img-siri{
      background-size: 50vw!important;

    }
  }
  #pres3{
      .pres-text{
        width: 750px;
      }
  }
  #pres4{
    div{
      width:750px;
    }
  }
  #pres5{
    div{
      width:750px;
    }
  }
}

@media all and (max-width: 750px) and (min-width: 460px) {
  #pres1{
    div{
      width:450px;
      #presVideo{
        height: calc(80vh - 70px);;
      }
    }
  }
  #pres2{
    .pres-text{
      width:450px;
    }
    .img-siri{
      width: 80vw!important;
      background-size: 50vh!important;
    }
    .text-siri{
      width: 80vw!important;
      height: 40vh!important;
      min-width: 10px!important;
    }
  }
  #pres3{
    .pres-text{
      width: 450px;
    }
  }
  #pres4{
    div{
      width:450px;
    }
  }
  #pres5{
    .text-techHomePod{
      width: 80vw!important;
      min-height: 800px!important;
    }
    .active{
      top: 10px;
    }
  }
}

@media all and (max-width: 460px)  {

  #pres1{
    div{
      width:250px;
      #presVideo{
        height: calc(50vh - 70px);;
      }
    }
  }
  #pres2{
    .pres-text {
      width: 250px;
    }
    .img-siri{
      width: 80vw!important;
      background-size: 35vh!important;

    }
    .text-siri{
      width: 80vw!important;
      height: 40vh!important;
      min-width: 10px!important;

      p{
        font-size: 8vw!important;
      }
    }

  }
  #pres3{
    .pres-text{
      width: 250px;
    }
    .content-homePod{
      width: 100vw!important;
      display: flex;
      justify-content: center;
      img{
        height: 40vh;
        width: auto!important;
      }
    }

  }
  #pres4{
    div{
      width:250px;
    }
  }
  #pres5{
    .text-techHomePod{
      width:100vw!important;
      min-height: 800px!important;
    }
    .view-techHomePod{
      width:100vw!important;
    }
    .active{
      top: 10px;
    }
  }
}