header .container_flex {
  width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 5px 0px; }
header .menu {
  justify-content: flex-end;
  margin: 0 auto;
  padding: 10px 20px 15px 400px;
  position: left;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; }
header #header {
  margin: 0 auto;
  display: flex; }
header #header .container_flex {
  align-items: center; }
header .logo {
  color: #FFF;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding-top: 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; }
header nav {
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 0px 0px 20px 0px; }
header nav a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px 0px 10px; }
header nav a.current {
  color: #ddd; }
header nav ul {
  position: relative; }
header li {
  list-style: none; }
header .button {
  border: 3px solid #BD3994;
  border-radius: 20%;
  background: linear-gradient(20deg, #BD3994, #4B99FD); }

/*
*       FONTS
 */
@font-face {
  font-family: 'sf-pro';
  src: url("../fonts/SFPro/SF-Pro-Text-light.otf") format("truetype"); }
/*
*     BASE CSS
 */
body {
  background-color: #000;
  margin: 0;
  padding: 0; }

p, a, h2 {
  font-family: 'sf-pro';
  color: #fff; }

h2 {
  font-size: 2em; }

header {
  height: 48px;
  display: block;
  position: fixed;
  width: 100vw;
  z-index: 2;
  background: linear-gradient(40deg, #BD3994, #4B99FD); }

div.container {
  width: 960px;
  margin: 0 auto; }
  div.container div.title {
    margin-left: 60px; }
  div.container div.liseret {
    margin-top: 20px;
    height: 1px;
    width: 960px;
    background: #707070; }
  div.container div.displayFlexGeneral {
    display: flex;
    flex-direction: row; }
    div.container div.displayFlexGeneral div#description {
      margin: 55px 90px 0 90px; }
      div.container div.displayFlexGeneral div#description h6 {
        text-align: left; }
    div.container div.displayFlexGeneral div div.displayFlexSpecific {
      display: flex;
      flex-direction: row; }
      div.container div.displayFlexGeneral div div.displayFlexSpecific div.category {
        margin-right: 20px; }
        div.container div.displayFlexGeneral div div.displayFlexSpecific div.category p {
          text-align: right; }
        div.container div.displayFlexGeneral div div.displayFlexSpecific div.category div#dimensions {
          height: 43px; }
      div.container div.displayFlexGeneral div div.displayFlexSpecific div.element {
        width: 150px; }
        div.container div.displayFlexGeneral div div.displayFlexSpecific div.element div {
          width: 80px; }
    div.container div.displayFlexGeneral img.HomePod {
      width: 200px;
      height: auto;
      margin: 30px 20px 0 20px; }
    div.container div.displayFlexGeneral h6 {
      text-align: center; }
  div.container div.displayFlexGeneral div.title {
    width: 250px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 0; }
    div.container div.displayFlexGeneral div.title h6 {
      text-align: right; }
  div.container div.displayFlexGeneral div.faqItem {
    margin: 0;
    cursor: pointer;
    width: 700px; }
    div.container div.displayFlexGeneral div.faqItem h6 {
      border-top: 0.5px solid #707070;
      border-left: 0.5px solid #707070;
      margin: 0;
      position: relative;
      height: 100px; }
    div.container div.displayFlexGeneral div.faqItem h6.number1 {
      border-top: none; }
    div.container div.displayFlexGeneral div.faqItem h6::after {
      content: url("../images/arrow.png");
      position: absolute;
      top: 40px;
      right: 50px;
      font-size: 15px;
      transition: all linear 0.25s;
      transform: rotate(0deg); }
    div.container div.displayFlexGeneral div.faqItem div.answer {
      display: none; }
  div.container div.displayFlexGeneral div.faqItem.is-open h6 {
    height: 8px; }
  div.container div.displayFlexGeneral div.faqItem.is-open h6::after {
    transform: rotate(-90deg); }
  div.container div.displayFlexGeneral div.faqItem.is-open div.answer {
    display: block;
    padding: 20px;
    padding-left: 40px;
    padding-right: 70px;
    border-left: 0.5px solid #707070; }

/*# sourceMappingURL=main.css.map */
