header{
  .container_flex{
  width: 900px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

ul .container_flex{
  justify-content: space-between;
}

.menu{
  display: flex;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  ul{
    display: flex;
  }
}

#header{
  margin: 0 auto;
  display: flex;
}

#header .container_flex{
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo{
  color:#FFF;
  margin-left:10px;
  font-size:18px;
  font-weight:400;
  text-decoration:none;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

nav a{
  color:white;
  font-size:12px;
  text-decoration:none;
  display:inline-block;
  padding:5px 15px 0px 15px;
  flex-wrap: nowrap;
}

nav a.current{
  color: #ddd;
}

nav ul{
  position:relative;
}

li{
  list-style: none;
}

.button{
  border: thin solid #BD3994;
  border-radius: 10%;
  background: #BD3994;
  padding-bottom: 2px;
}

}
/*
*       FONTS
 */
@font-face {
  font-family: 'sf-pro';
  src: url("../fonts/SFPro/SF-Pro-Text-Regular.otf")format("truetype");
}

/*
*     BASE CSS
 */
body{
  background-color: #000;
  margin: 0;
  padding: 0;
}


p,a,h2,h3,h4,h5,h6{
  font-family: 'sf-pro';
  color: #fff;
}


header{
  height: 48px;
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 2;
  background:linear-gradient(40deg, #BD3994, #4B99FD);
  justify-content: space-between;
  opacity:0.95;
}


//PAGE 2 : CARACTERISTIQUES techniques
.carac{

  div.container{
    width: 940px;
    margin: 0 auto;
    padding-top: 60px;
    div.title{
      margin-left: 60px;
      h2{
        margin: 0;
      }
    }


    div.liseret{
      margin-top: 20px;
      height: 1px;
      width: 960px;
      background: #707070;
    }

    div.displayFlexGeneral{
    display: flex;
    flex-direction: row;

    div#description{
      margin: 55px 90px 0 90px;
      h4{
        text-align: left;
      }
      div.displayFlexSpecific{
        display: flex;
        flex-direction: row;
        div.category{
          margin-right: 10px;
          p{
          text-align: right;
          font-size: 15px;
          }
          div#dimensions{
          height: 43px;
          }
        }
        div.element{
          height: 180px;
          p{
            font-size: 15px;
            margin-bottom: 23px;
          }
          p#poids{
            margin-bottom: 16px;
          }
          width: 150px;
           div{
             width: 80px;
             p{
               font-size: 15px;
               margin-top: 0;
             }
           }
        }
      }
    }

    div.displayFlexSpecific{
      display: flex;
      flex-direction: row;
    }

    img.HomePod{
      width: 200px;
      height: auto;
      margin: 30px 20px 0 20px;
    }

    h5{
      text-align: center;

    }

    }

    div{
      div.displayFlexGeneral{
        display: flex;
        flex-direction: row;
      div.title{
        width: 250px;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 0;

        h4{
          text-align: right;
        }
      }
      div.faqItem{
        margin: 0;
        cursor: pointer;
        width: 700px;

        h4{
          border-top: 0.5px solid #707070;
          border-left: 0.5px solid #707070;
          margin: 0;
          position: relative;
          height: 100px;
          color: #000;
        }
        h4.number1{
          border-top: none;
        }
        h4::after{
          content: url("../images/arrow.png");
          position: absolute;
          top: 40px;
          right: 50px;
          font-size: 15px;
          transition: all linear 0.25s;
          transform: rotate(0deg);
        }
        div.answer{
          display: none;
        }
      }
      div.faqItem.is-open{
        h4{
          height: 8px;
          //background-color: #191919;
        }
        h4::after{
          transform: rotate(-90deg);
        }
        div.answer{
          display: block;
          padding: 20px;
          padding-left: 40px;
          padding-right: 80px;
          border-left: 0.5px solid #707070;
          a{
            text-decoration: none;
            color: #1F93E0;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
}

// Responsive Page2 : Caractéristiques techniques

@media screen and (min-width:768px) and (max-width:1024px)
{ .carac{
  div.container{
    width:768px;
  div.liseret{
    width: 768px;
    }
    div.displayFlexGeneral{
      div#description{
        margin: 55px 55px 0 45px;}
      div.displayFlexSpecific{
        img.HomePod{
          margin: 30px 1px 0 1px;
        }
      }
    }

div{  div.displayFlexGeneral{
      div.title{
        width: 200px;
      }
      div.faqItem{
        width: 550px;
  }
}
}
}
}
}

@media screen and (max-width:768px)
{
  .carac{
  div.container{
    width:100%;

  div.liseret{
    width: 100%;
    }
  div.displayFlexGeneral{
      flex-direction: column-reverse;
      div#description{
        margin: 0 auto;
        width: 215px;
        div.displayFlexSpecific{
         width: 100%;
        }
        }
      div.displayFlexSpecific{
        width: 400px;
        margin: 0 auto;
        img.HomePod{
          margin: 30px 1px 0 1px;
        }
      }
    }
  div{
    div.displayFlexGeneral{
    flex-direction: column;
      div.title{
        display: none;
        }
        div.faqItem{
          margin: 0;
          cursor: pointer;
          width: 100%;
          h4{
            width: 100%;
            color:#fff;
            text-align: left;
            padding-top: 10px;
            border-left: none;
          }
    }
    }
  div.faqItem.is-open{
    h4{
      height: 100px;
      //background-color: #191919;
    }
    div.answer{
      border-left: none;
}
}
}
}
}
}


@media all and (min-width: 800px) {
  #header{
    .container_flex{
      width: 900px;
    }
  }
}
@media all and (max-width: 800px) and (min-width: 760px) {
  #header{
    .container_flex{
      width: 650px;
    }
  }
}

@media all and (max-width: 750px) and (min-width: 460px) {
  #header{
    .container_flex{
      width: 450px;
    }
  }
}

@media all and (max-width: 460px)  {
  #header{
    .container_flex{
    }
  }
}