header{
  .container_flex{
  width: 900px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.show{
  display: block!important;
}

ul .container_flex{
  justify-content: space-between;
}

.menu{
  display: flex;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  ul{
    display: flex;
  }
}

#header{
  margin: 0 auto;
  display: flex;
}

#header .container_flex{
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.hamb{
  height: 40px;
  width: 40px;
  background-color: aliceblue;
  display: none;
}

.logo{
  color:#FFF;
  margin-left:10px;
  font-size:18px;
  font-weight:400;
  text-decoration:none;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

nav a{
  color:white;
  font-size:12px;
  text-decoration:none;
  display:inline-block;
  padding:5px 15px 0px 15px;
  flex-wrap: nowrap;
}

nav a.current{
  color: #ddd;
}

nav ul{
  position:relative;
}

li{
  list-style: none;
}

.button{
  border: thin solid #BD3994;
  border-radius: 10%;
  background: #BD3994;
  padding-bottom: 2px;
}

}

/*
*       FONTS
 */
@font-face {
  font-family: 'sf-pro';
  src: url("../fonts/SFPro/SF-Pro-Text-Regular.otf")format("truetype");
}

/*
*     BASE CSS
 */
body{
  background-color: #000;
  margin: 0;
  padding: 0;
}


p,a,h2,h3,h4,h5,h6{
  font-family: 'sf-pro';
  color: #fff;
}


header{
  height: 48px;
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 2;
  background:linear-gradient(40deg, #BD3994, #4B99FD);
  justify-content: space-between;
  opacity:0.95;
}


// PAGE 2 : musique
.carac{
  div#allerPlusLoin{
  .musique{
    position: relative;
      img.fond{
      padding-top: 45px;
      width: 100%;
      }
      img.decoration{
        position: absolute;
        width: 26.5%;
        height: auto;
        top: 55%;
        left: 36%;
    }
    #title1{
      position: absolute;
      top: 80%;
      left: 4%;
      font-size: 30px;
    }
    #title2{
      position: absolute;
      top: 80%;
      right: 4%;
      font-size: 30px;
    }
    }
    #pres2{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10%;
    .prestext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 800px;
      margin-bottom: 5%;
      h3{
        text-align: center;
        font-size: 3vw;
        color: transparent;
        background-size: 51% 100%;
        background-position: top left, top right;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 6px;
        font-family: 'sf-pro';
        line-height: 1.48164;
        font-weight: 700;
        background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px), linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);

      }
      p {
        text-align: center;
        font-size: 2.5vw;
        line-height: 3vw;
      }
    }
    }
    #video{
      width: 100%;
      background-color: #fff;

      div#parent{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 80vw;
        margin: 0 auto;
        position: relative;
      .imgVideo{
        width: 80vw;
        height:auto;
      }
      #titleContainer{
        position: absolute;
        width: 350px;
        left: 35%;
        top : 65%;
      h3{
        font-size: 30px;
        }
      h3,p{
        text-align: center;
      }
      a{
        top : 15%;
        color: #fff;
        bottom: 0px;
        font-family: 'sf-pro';
        border: 2px solid #fff;
        border-radius:46px;
        padding: 20px;
        text-decoration: none;
        transition: background-color 1s;
      }
      a:hover{
        background-color: #fff;
        color: #000;
        font-weight: 700;
      }
    }
    }
  }
}
}

//RESPONSIVE PAGE 2 : musique

@media screen and (min-width:800px) and (max-width:1024px)
{
  .carac{
    #allerPlusLoin{
      div.musique{
        #title1{
          font-size: 20px;
        }
        #title2{
          font-size: 20px;
          right: 3%;
        }
      }
      #pres2{
        .prestext{
          width:750px!important;
        }
      }
      #video{
        div#parent{
        div#titleContainer{
          left: 22%;
          top : 55%;
        h3{
          font-size: 25px;
          }
      }
      }
    }
  }
}
}

@media screen and (min-width:550px) and (max-width:800px)
{
  .carac{
    #allerPlusLoin{
      div.musique{
        #title1{
          font-size: 18px;
          left: 1%;
        }
        #title2{
          font-size: 18px;
          right:1%;
        }
      }
      #pres2{
        .prestext{
          width:450px!important;
        }
     }
      #video{

        div#parent{
          div#titleContainer{
            left: 19%;
            top : 45%;
          h3{
            font-size: 25px;
            }
            a{
              padding: 10px;
            }
        }
      }
      }
    }
  }
}

@media screen and (max-width:550px)
{
  .carac{
    #allerPlusLoin{
      div.musique{
        #title1{
          font-size: 10px;
        }
        #title2{
          font-size: 10px;
        }
      }
      #pres2{
        .prestext {
          width: 250px!important;
        }
      }
      #video{
        div#parent{
          div#titleContainer{
            width: 230px;
            left: 5%;
            top : 35%;
          h3{
            font-size: 20px;
            }
          p{
            font-size: 8px;
          }
          a{
            padding:5px;
          }
        }
      }
      }
    }
  }
}



//PAGE 2 : CARACTERISTIQUES techniques
.carac{

  div.container{
    width: 940px;
    margin: 0 auto;
    padding-top: 60px;
    div.title{
      margin-left: 60px;
      h2{
        margin: 0;
      }
    }


    div.liseret{
      margin-top: 20px;
      height: 1px;
      width: 960px;
      background: #707070;
    }

    div.displayFlexGeneral{
    display: flex;
    flex-direction: row;

    div#description{
      margin: 55px 90px 0 90px;
      h4{
        text-align: left;
      }
      div.displayFlexSpecific{
        display: flex;
        flex-direction: row;
        div.category{
          margin-right: 10px;
          p{
          text-align: right;
          font-size: 15px;
          }
          div#dimensions{
          height: 43px;
          }
        }
        div.element{
          height: 180px;
          p{
            font-size: 15px;
            margin-bottom: 23px;
          }
          p#poids{
            margin-bottom: 16px;
          }
          width: 150px;
           div{
             width: 80px;
             p{
               font-size: 15px;
               margin-top: 0;
             }
           }
        }
      }
    }

    div.displayFlexSpecific{
      display: flex;
      flex-direction: row;
    }

    img.HomePod{
      width: 200px;
      height: auto;
      margin: 30px 20px 0 20px;
    }

    h5{
      text-align: center;

    }

    }

    div{
      div.displayFlexGeneral{
        display: flex;
        flex-direction: row;
      div.title{
        width: 250px;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 0;

        h4{
          text-align: right;
        }
      }
      div.faqItem{
        margin: 0;
        cursor: pointer;
        width: 700px;

        h4{
          border-top: 0.5px solid #707070;
          border-left: 0.5px solid #707070;
          margin: 0;
          position: relative;
          height: 100px;
          color: #000;
        }
        h4.number1{
          border-top: none;
        }
        h4::after{
          content: url("../images/arrow.png");
          position: absolute;
          top: 40px;
          right: 50px;
          font-size: 15px;
          transition: all linear 0.25s;
          transform: rotate(0deg);
        }
        div.answer{
          display: none;
        }
      }
      div.faqItem.is-open{
        h4{
          height: 8px;
          //background-color: #191919;
        }
        h4::after{
          transform: rotate(-90deg);
        }
        div.answer{
          display: block;
          padding: 20px;
          padding-left: 40px;
          padding-right: 80px;
          border-left: 0.5px solid #707070;
          a{
            text-decoration: none;
            color: #1F93E0;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
}

// Responsive Page2 : Caractéristiques techniques

@media screen and (min-width:768px) and (max-width:1024px)
{ .carac{
  div.container{
    width:768px;
  div.liseret{
    width: 768px;
    }
    div.displayFlexGeneral{
      div#description{
        margin: 55px 55px 0 45px;}
      div.displayFlexSpecific{
        img.HomePod{
          margin: 30px 1px 0 1px;
        }
      }
    }

div{  div.displayFlexGeneral{
      div.title{
        width: 200px;
      }
      div.faqItem{
        width: 550px;
  }
}
}
}
}
}

@media screen and (max-width:768px)
{
  .carac{
  div.container{
    width:100%;

  div.liseret{
    width: 100%;
    }
  div.displayFlexGeneral{
      flex-direction: column-reverse;
      div#description{
        margin: 0 auto;
        width: 215px;
        div.displayFlexSpecific{
         width: 100%;
        }
        }
      div.displayFlexSpecific{
        width: 315px!important;
        margin: 0 auto;
        img.HomePod{
          width: 150px;
          margin: 30px 1px 0 1px;
        }
      }
    }
  div{
    div.displayFlexGeneral{
    flex-direction: column;
      div.title{
        display: none;
        }
        div.faqItem{
          margin: 0;
          cursor: pointer;
          width: 100%;
          h4{
            width: 100%;
            color:#fff;
            text-align: left;
            padding-top: 10px;
            border-left: none;
          }
    }
    }
  div.faqItem.is-open{
    h4{
      height: 100px;
      //background-color: #191919;
    }
    div.answer{
      border-left: none;
}
}
}
}
}
}


@media all and (min-width: 800px) {
  #header{
    .container_flex{
      width: 900px;
    }
  }
}
@media all and (max-width: 800px) and (min-width: 760px) {
  #header{
    .container_flex{
      width: 650px;
    }
  }
}

@media all and (max-width: 750px) and (min-width: 460px) {
  #header{
    .container_flex{
      width: 450px;
    }
  }
}

@media all and (max-width: 460px)  {
  #header .menu ul {
    display: flex;
    flex-direction: column;
    /* margin-top: 48px; */
    right: 20px;
    top: 48px;
    background-color: #111;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #header li {
    list-style: none;
    padding: 15px 5px;
  }
  #header .hamb{
    display: block;
  }
}

// Responsive Page2 : Caractéristiques techniques

@media screen and (min-width:768px) and (max-width:1024px)
{ .carac{
  div.container{
    width:768px;
  div.liseret{
    width: 768px;
    }
    div.displayFlexGeneral{
      div#description{
        margin: 55px 55px 0 45px;}
      div.displayFlexSpecific{
        img.HomePod{
          margin: 30px 1px 0 1px;
        }
      }
    }

div{  div.displayFlexGeneral{
      div.title{
        width: 200px;
      }
      div.faqItem{
        width: 550px;
  }
}
}
}
}
}

@media screen and (max-width:768px)
{
  .carac{
  div.container{
    width:100%;

  div.liseret{
    width: 100%;
    }
  div.displayFlexGeneral{
      flex-direction: column-reverse;
      div#description{
        margin: 0 auto;
        width: 215px;
        div.displayFlexSpecific{
         width: 100%;
        }
        }
      div.displayFlexSpecific{
        width: 400px;
        margin: 0 auto;
        img.HomePod{
          margin: 30px 1px 0 1px;
        }
      }
    }
  div{
    div.displayFlexGeneral{
    flex-direction: column;
      div.title{
        display: none;
        }
        div.faqItem{
          margin: 0;
          cursor: pointer;
          width: 100%;
          h4{
            width: 100%;
            color:#E7E7E7;
            text-align: left;
            padding-top: 10px;
            border-left: none;
          }
    }
    }
  div.faqItem.is-open{
    h4{
      height: 100px;
      //background-color: #191919;
    }
    div.answer{
      border-left: none;
}
}
}
}
}
}


//footer

footer{
   background-color: #111;

  .container{
    width: 1100px;
    margin: 0 auto;

  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  li{
    margin: 10px;

    h6,p{
      color: #CBCBCB;
      text-align: center;
      width: 200px;
    }
    p{
      font-size: 10px;
    }
    a{
      font-size: 10px;
      color: #1F93E0;
    }
    a:hover{
      text-decoration: none;
    }
  }

  }
  p{
    font-size: 10px;
    color: #707070;
  }
  .lastItems{
    a{
      color : #707070;
    }
    a:hover{
      text-decoration: none;
    }
  }
}
}

//RESPONSIVE FOOTER
@media screen and (min-width:800px) and (max-width:1024px)
{
  footer{

    .container{
      width: 800px;

    ul.firstItems{
      display: flex;
      flex-wrap: wrap;
      li{
        h6,p{
          width: 300px
        }
      }
    }
  }
  }
}

@media screen and (max-width:800px)
{
  footer{

    .container{
      width: 70%;

    ul.firstItems{
      display: flex;
      flex-wrap: wrap;
    }
    ul.lastItems{
      display: flex;
      flex-wrap: wrap;
    }
  }
  }
}

@media all and (max-width: 460px)  {
  #header .menu ul {
    display: none;
    flex-direction: column;
    /* margin-top: 48px; */
    right: 20px;
    top: 48px;
    background-color: #111;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #header li {
    list-style: none;
    padding: 15px 5px;
  }
}
